<!-- Board Template -->
<template id="gameboard-template">
    <div id="game-board" class="tick-tac-toe-board">
        <div class="box no-top-border no-left-border"></div>
        <div class="box no-top-border"></div>
        <div class="box no-top-border no-right-border"></div>
        <div class="box no-left-border"></div>
        <div class="box"></div>
        <div class="box no-right-border"></div>
        <div class="box no-bottom-border no-left-border"></div>
        <div class="box no-bottom-border"></div>
        <div class="box no-bottom-border no-right-border"></div>
    </div>
    <div class="winner-box" id="winner-box"></div>
    <div id="reset-button" class="reset-button">Reset</div>
</template>